.App {
    text-align: center;
}

form {
    margin: 20px;
}

input[type='text'] {
    margin: 0px 5px;
    border: 1px solid rgb(119, 112, 112);
    padding: 10px;
    border-radius: .5rem;
}

button {
    padding: 10px;
    border-radius: .5rem;
    background: white;
    border: 2px teal outset;
    font-size: 1rem;
    font-weight: 600;
    color: teal;
}

button:hover {
    cursor: pointer;
    background: teal;
    color: white;
}